{{define "todo-item"}}
<div class="todo border-gray-900 border my-2 rounded-lg">
    <div class="id">{{.ID}}</div>
    <div class="title">{{.Title.String}}</div>
    {{template "todo-complete-toggle" .}}
    <button
        hx-delete="/todos/{{.ID}}"
        hx-confirm="Are you sure?"
        hx-target="closest .todo"
        hx-swap="outerHTML"
    >
        Delete
    </button>
</div>
{{end}}
<!--  -->
{{define "todo-complete-toggle"}}
<input
    type="checkbox"
    hx-put="/todos/{{.ID}}/complete"
    hx-swap="outerHTML"
    {{if
    .Completed}}checked{{end}}
/>
{{end}}
